<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.mapper.UserMapper">
    <insert id="saveUser" parameterType="User">
        insert into user (username, password, is_admin) values (#{username}, #{password}, #{isAdmin})
    </insert>

    <select id="findUserByUsername" parameterType="String" resultType="User">
        select * from user where username = #{username}
    </select>

</mapper>
